.select-cliente {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
}

.select-produto {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
}

legend {
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(30, 30, 30);
}

.section-search-cliente {
  display: flex;
  align-items: end;
  font-size: 14px;
}

.section-search-produto {
  display: flex;
  align-items: end;
  font-size: 14px;
  justify-content: space-between;
}
.div-cliente-id{
  width: 150px;
  margin-right: 8px;
}

.div-search-produto{
  display: flex;
  width: 600px;
  margin-right: 8px;
}

.div-search-produto-id{
  width: 150px;
  margin-right: 8px;
}

.input-cliente-id {
  height: 30px;
  font-size: 15px;
  color: rgb(30, 30, 30);
  text-align: center;
}

.input-cliente-name {
  height: 30px;
  font-size: 15px;
  color: rgb(30, 30, 30);
  text-align: left;
  margin-right: 8px;
  flex-grow: 1;
}

.btn-ico {
  display: flex;
  height: 30px;
  width: 40px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 3px;
}

.btn-ico:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.btn-ico:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.btn-ico i {
  color: rgb(40, 40, 40);
}

.produto-info {
  display: flex;
  align-items: end;
}

.btn-cancelar-edit {
  margin-right: 6px;
}

.page-title{
  display: flex;
  justify-content: space-between;
}
