* {
    margin: 0;
    padding: 0;
  }

main {
    margin: 16px;
    padding: 8px;
    background-color: #f6f3f3;
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}

.page-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    margin-bottom: 8px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.action-buttons button {
    margin: 0 4px;
}

.table-check {
    width: 40px;
    text-align: center;
}

.card-situation-activated{
    padding: 4px 6px;
    border-radius: 3px;
    background-color: rgb(90, 160, 90);
    color: white;
    font-size: 12px;
}
  
.card-situation-disabled{
    padding: 4px 6px;
    border-radius: 3px;
    background-color: rgb(250, 90, 90);
    color: white;
    font-size: 12px;
}

.table-id {
    width: 100px;
}

.table-status {
    width: 250px;
    text-align: center;
}

.table-status button {
    margin: 0 6px;
}
